.signup-main {
  height: 100vh;
  display: flex;
  justify-content: center;
  width: 100vw;
  background-image: url("https://see-show.vercel.app/static/media/BgLogin.6542db3de69ad21a9ab3.jpg");
}
.ant-input {
  background-color: transparent !important;
  border: none;
}
.signup-card {
  margin-top: 7rem;
  width: 30vw;
  border-radius: 5px;
  background-color: hsla(0, 0%, 100%, 0.144);
  padding-top: 10px;
  margin-bottom: 3rem;
}
.link:hover {
  color: red !important;
}

.login-title {
  font-size: 2rem;
  color: white;
  opacity: 1;
  text-align: center;
  padding-top: 10px;
}
.login-username {
  padding: 20px 35px 0 35px;
}
.login-password {
  padding: 15px 35px 0 35px;
}
.login-btn {
  padding: 15px 35px 0 35px;
}
@media only screen and (max-width: 660px) {
  .signup-card {
    width: 90vw;
    margin-bottom: 10rem;
  }
}
// @media only screen and (max-width: 1024px) {
//   .signup-card {
//     margin-bottom: 1rem;
//   }
// }
